* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    height: 70px;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* -------------------------------------------------- Logo */
.buttonANDlogo {
    /* background-color: yellow; */
    display: flex;
    margin-left: 19px;
    gap: 35px;
    align-items: center;
}

.buttonANDlogo a {
    /* background-color: cyan; */
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
    color: #000000;
}

/* -------------------------------------------------- Keyboard+search*/

.searchSystem {
    margin-left: 118px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchSystem input#searchText {
    background-color: #F5F5F5;
    width: 444px;
    height: 40px;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #000000;
    outline: none;
    font-size: 20px;
}

.searchSystem input#keyboardIcon {
    background-color: #F5F5F5;
    border: none;
    outline: none;
    position: absolute;
    right: 40px;
}

.searchSystem input#searchIcon {
    background-color: #F5F5F5;
    border: none;
    outline: none;
    position: absolute;
    right: 10px;
}

/*keyboard:*/
#virtualKeyboard {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    max-width: 90%;
    text-align: center;
}

.key {
    display: inline-block;
    margin: 5px;
    padding: 10px 14px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: #ddd;
}

/* -------------------------------------------------- Login */

.loginSystem {
    /* background-color: yellow; */
    display: flex;
    flex-grow: 1;
    justify-content: end;
    padding-right: 20px;
    align-items: center;
    gap: 20px;

}

#moonDark {
    background-color: #5D6163;
    border-radius: 50%;
    border: 5px solid #5D6163;
}

#profileArea {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    overflow: hidden;
    transition: width 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
}

#profileArea:hover {
    width: 120px;
    background-color: #5D6163;
}

#profileIcon {
    width: 45px;
    height: 45px;
    background-color: #5D6163;
    flex-shrink: 0;
    border-radius: 50%;
}

#logoutLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    color: white;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

/* Show Logout only when expanded */
#profileArea:hover #logoutLink {
    opacity: 1;
}


/* -------------------------------------------------- Menu */

#sidebar {
    display: flex;
    position: fixed;
    top: 70px;
    /* below header */
    left: -220px;
    /* hidden off-screen */
    width: 220px;
    height: 100%;
    border: 1px solid black;
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Show sidebar */
#sidebar.open {
    left: 0;
}

#sidebar ul {
    list-style: none;
    width: 220px;
}

#sidebar ul li {
    margin-bottom: 20px;
    height: 46px;
    border-radius: 5px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#sidebar ul li a img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

#sidebar ul li a p {
    margin-top: 10px;
}


#sidebar .activePage {
    background-color: gray;
}

/* -------------------------------------------------- main */
.mainWrap {
    background-color: #F5F5F5;
    position: fixed;
    top: 70px;
    left: 220px;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 20px;
    scroll-behavior: smooth;
    cursor: auto;
    transition: margin-left 0.3s ease;
    transition: left 0.3s ease;
}

.mainWrap.fullscreen {
    left: 0;
}

.movies {
    flex: 0 0 auto;
    display: flex;
    gap: 19px;
    margin-bottom: 64px;
    height: 300px;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;

}

.movies.visible {
    opacity: 1;
    transform: translateY(0);
}

/*scroll each container of movie horizontal left and right*/
.scrollable {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.scrollable img {
    height: 100%;
    border-radius: 5px;
    flex-shrink: 0;
    /*The image keeps its size inside a scrollable row.*/
}

.scrollLeft,
.scrollRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.scrollLeft {
    left: 10px;
}

.scrollRight {
    right: 10px;
}

.mainWrap p {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

#fixImageTV img {
    margin-top: 35px;
    height: 200px;
    width: 200px;
}

#fixImageSongs img {
    margin-top: 35px;
    height: 200px;
    width: 200px;
}

#fixImageNews img {
    margin-top: 35px;
    height: 200px;
    width: 200px;
    margin-left: 20px;
}

#fixImageForFun img {
    margin-top: 35px;
    height: 200px;
    width: 150px;
    margin-left: 20px;

}

#fixImageSport img {
    margin-top: 35px;
    height: 200px;
    width: 300px;
    margin-left: 20px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Songs~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#SongWrap {
    margin-top: 70px;
    display: flex;
    background-color: #9292922f;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
}

.SongContainer {
    /* background-color: brown; */
    width: 220px;
    height: 365px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.SongContainer h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.SongContainer h2 {
    color: white;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.SongContainer .download-button {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: end;
    gap: 5px;
    padding: 0px 10px 10px 10px;
}

.SongContainer .download-button img {
    width: 25px;
    height: 25px;
}

.SongContainer .download-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
}

.SongContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.SongContainer.playing>img {
    animation: spin 3s linear infinite;
}

.SongContainer.playing {
    transform: scale(1.05);
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.9),
        0 0 20px rgba(255, 255, 255, 0.8),
        0 0 30px rgba(255, 255, 255, 0.7);
}

.SongContainer img {
    border-radius: 50%;
    box-sizing: content-box;
    margin-top: 5px;
    width: 170px;
    height: 170px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*For rating: */

#topRow {
    background-color: #f0f0f0;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

#poster-section {
    display: flex;
    margin-bottom: 100px;
    height: 400px;
}

#poster-and-p {
    background-color: rgb(160, 160, 160);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 30px;
    border-radius: 30px;
    overflow-y: auto;
}

#rating {
    font-weight: bold;
    font-size: 30px;
}

#description {
    font-size: 20px;
}

#commentsSection {
    margin-top: 40px;
    text-align: left;
    max-width: 600px;
    margin-inline: auto;
}

#commentsList {
    list-style-type: none;
    padding: 0;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

#commentsSection textarea {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#submitComment {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#submitComment:hover {
    background-color: #388e3c;
}

#movieTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

.bodyRating {
    margin-top: 70px;
    /* to prevent header overlap */
    margin-left: 220px;
    /* sidebar offset */
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    transition: margin-left 0.3s ease;
    overflow-y: auto;
    flex-wrap: wrap;
}

.mainWrapRating .bodyRating.fullscreen {
    margin-left: 0;
    width: 100%;
}

#moviePos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~admin.html~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.adminBody {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #4b2d39;
    background-image: url('../images/wizard.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adminBody h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.adminBody table {
    width: 90%;
    justify-self: center;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #ffffffdd;
}

.adminBody th,
.adminBody td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: center;
}

.adminBody th {
    background-color: #9a6f6f;
    color: white;
}

/* Set column widths */
.adminBody th:nth-child(1),
.adminBody td:nth-child(1) {
    width: 40%;
}

.adminBody th:nth-child(2),
.adminBody td:nth-child(2) {
    width: 20%;
}

.adminBody th:nth-child(3),
.adminBody td:nth-child(3) {
    width: 40%;
}

.adminBody .bb {
    background-color: orangered;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
    text-decoration: none;

}

.adminBody .bb:hover {
    background-color: rgb(165, 44, 0);
    cursor: pointer;
}

.adminBody .bb#abs-btn {
    top: 30px;
    left: 30px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/